<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-input placeholder="Nueva categoria" [formControl]="newCategoryControl"></ion-input>
  <ion-button (click)="addCategory()">Agregar</ion-button>
</ion-item>

@for (category of categories; track category.id) {
  <ion-chip (click)="selectedCategoryControl.setValue(category.id)"
  [color]="selectedCategoryControl.value === category.id ? 'primary' : ''">
    {{ category.name }}
    <ion-icon
      name="close-circle"
      (click)="deleteCategory(category.id)">
    </ion-icon>
  </ion-chip>
}

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-input placeholder="Nueva tarea" [formControl]="newTaskTitle"></ion-input>

    <ion-select placeholder="Categoria" [formControl]="selectedCategoryControl">
      @for (category of categories; track category.id) {
        <ion-select-option [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      }
    </ion-select>

    <ion-button (click)="addTask()">Agregar</ion-button>
  </ion-item>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
